// Primary
$violet: hsl(263, 55%, 52%);
$drk-grey-blu: hsl(217, 19%, 35%);
$drk-blk-blu: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral
$lgt-grey: hsl(0, 0%, 81%);
$lgt-blu: hsl(210, 46%, 95%);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lgt-blu;
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-width: 375px;
}

main  {
  margin: 10.18em auto;
}

.card {
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px rgba(123, 123, 123, 0.8);
  margin: 1.5em;
  padding: 1.5em 2.05em 2em 2.05em;

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 0.7em;
    z-index: 3;
  }

  &--1 {
    position: relative;
    background-color: $violet;
    color: $white;
    z-index: 1;
    grid-area: card--1;

    &::before {
      content: url("../images/bg-pattern-quotation.svg");
      position: absolute;
      top: 0;
      right: 1.5em;
      z-index: -1;
    }
  }

  &--2 {
    background-color: $drk-grey-blu;
    color: $white;
    grid-area: card--2;
  }

  &--3 {
    background-color: $white;
    color: $drk-blk-blu;
    grid-area: card--3;
  }


  &--4 {
    background-color: $drk-blk-blu;
    color: $white;
    grid-area: card--4;
  }
  
  &--5 {
    background-color: $white;
    color: $drk-blk-blu;
    grid-area: card--5;
  }

  &__quote {
    opacity: 70%;
    font-size: 0.8rem;
    line-height: 1.4em;
    padding-right: 0.3em;
  }
}

.author {
  &__container {
    display: flex;
    font-weight: 500;
  }

  &__headshot {
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 100%, .5); 
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 1.1rem 0;
  }

  &__text-container {
    z-index: 3;
  }

  &__name {
    font-size: 0.82rem;
  }

  &__verified {
    font-size: 0.7rem;
    opacity: 50%; 
  }
}

.brdr-violet {
  border: 2px solid hsla(263, 55%, 52%, 0.7);
}

.extra-pad {
  padding-right: 1.5em;
}

// Desktop style
@media screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template:
      "card--1 card--1 card--2 card--5" auto
      "card--3 card--4 card--4 card--5" auto
      / 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.5rem;
    max-width: 1110px
  }

  .card {
    margin: 0;
    padding: 1.5em 2.05em 1.6em 2.05em;

    &__title {
      padding-bottom: 1em;
    }

    &__quote {
      padding-right: 0.2em;
    }

    &--1 {
  
      &::before {
        right: 5em;
      }
    }
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }